<template>
  <div class="v-header">
    <div class="v-header__main">
      <div class="title-bar">
          <div class="title-bar-text">
            Contact Book // Sudakov A.V.
          </div>
          <div class="title-bar-btn">
            <button v-if="!main" @click="goBack">&larr; Back</button>
            <button v-if="main" @click="showPopupAdd">+</button>
          </div>
        </div>
    </div>
    <vPopupAdd
      v-if="isPopupAddVisible"
      @closePopupAdd="closePopupAdd"
        />
  </div>
</template>

<script>
import {mapActions} from 'vuex'
import vPopupAdd from './v-popup-add'

export default {
  name: 'v-header',
  components: {
    vPopupAdd
  },
  data() {
    return{
      isPopupAddVisible: false
    }
  },
  methods: {
    ...mapActions([
      'ADD_USER'
    ]),
    showPopupAdd() {
      this.isPopupAddVisible = true
    },
    closePopupAdd() {
      this.isPopupAddVisible = false
    },
    addUser() {
      this.ADD_USER()
    },
    goBack() {
      window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
    }
  },
  computed:{
      main(){
          return this.$route.path === '/'
      }
  }
}
</script>

<style lang="sass">

</style>
