<template>
  <div class="v-popup-add">
    <div class="window v-popup-add__block">
      <div class="title-bar v-popup-add__block-header">
        <div class="title-bar-text">
          Add contact
        </div>
        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close" @click="closePopupAdd"></button>
        </div>
      </div>
      <div class="window-body">
          <form @submit.prevent="addUser">
            <div class="adduser-form">
              <div class="adduser-form__title">
                <label for="first">First name</label>
                <input id="first" type="text" v-model="first" required>
                <label for="second">Last name</label>
                <input id="second" type="text" v-model="last" required>
              </div>
              <div class="adduser-form__calendar">
                <label for="date">Date of Birth</label>
                <v-date-picker id="date" v-model='selectedDate'  />
              </div>
              <div class="adduser-form__gender">
                <div class="field-row">
                  <input id="man" type="radio" name="gender" checked="checked" v-model="gender" required>
                  <label for="man">Man</label>
                </div>
                <div class="field-row">
                  <input id="woman" type="radio" name="gender" >
                  <label for="woman">Woman</label>
                </div>
              </div>
            </div>

            <button type="submit">Create new contact</button>
          </form>
           <button @click="LOG()">LOG</button>
      </div>
    </div>
    <div class="v-popup-add__overlay"
      @click="closePopupAdd"
    ></div>
  </div>
</template>

<script>
import vDatePicker from 'v-calendar/lib/components/date-picker.umd'

export default {
  name: 'v-popup-add',
  data() {
    return {
      selectedDate: new Date(),
      first: '',
      last: '',
      gender: true
    }
  },
  components: {
    vDatePicker
  },
  methods: {
    LOG(){
      console.log(this.selectedDate.getFullYear());
    },
    closePopupAdd() {
      this.$emit('closePopupAdd')
    },
    addUser: function() {
      this.$store.dispatch("ADD_USER", this)
      this.first = ""
      this.last = ""
      this.selectedDate = new Date()
      this.$emit('closePopupAdd')
    }
  }
}
</script>

<style lang="sass" scoped>
.v-popup-add__block
  width: 50%
  position: absolute
  top: 30%
  left: 25%
  z-index: 999
.adduser-form
  display: flex
  flex-direction: row
  justify-content: space-between
  &__title, &__calendar
    display: flex
    flex-direction: column
button[type=submit]
    margin-top: 20px
.v-popup-add__overlay
  width: 100%
  height: 100vh
  position: absolute

.vc-rounded
  border-radius: 0
  padding: 3px 4px
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a
  box-sizing: border-box
.vc-w-full
  width: auto
</style>
