<template>
  <div class="v-contacts__list">
    <button @click="LOG()">LOG</button>
    <div class="search-bar">
        <input
        class="search-input"
          @input="searchText()"
          v-model="search.text"
          type="text"
          placeholder="Search by Name"
        >
      </div>

    <transition-group name="fade" tag="div" class="row">
      <vProfile
          v-for="(user, index) in userList"
          :key="user.login.uuid"
          :user_data="user"
          @deleteUser="deleteUser(index)"
          @toUserInfo="toUserInfo(user)"
      />
    </transition-group>
  </div>
</template>


<script>
import vProfile from './v-profile'
import {mapActions} from 'vuex'

export default {
  name: 'v-contacts-list',
  components: {
    vProfile
  },
  data() {
    return {
      search: { filter: null, text: "" },
      userList_actual: []
    };
  },
  methods: {
    ...mapActions([
      'GET_USERS',
      'DELETE_USER',
      'SEARCH_TEXT'
    ]),
    deleteUser(index) {
        if (window.confirm("Are you sure?")) {
          this.DELETE_USER(index)
        }
    },
    addUser() {
      this.ADD_USER()
    },
    toUserInfo(user) {
        this.$router.push({
          name: 'profile',
          query: {'id': user.login.uuid}
        })
    },
    LOG(){
      console.log(this.userList);
    },
    searchText() {
      this.SEARCH_TEXT()
    }
  },
  mounted() {
    // var inside = this;
    this.GET_USERS()
    // eslint-disable-next-line no-unused-vars
    .then((Response) => {
      console.log('Data ok');
      // inside.userList_actual = Response.data.data;
      // inside.userList_actual = inside.userList_actual.map(function(user) {
      //     user.active_like = false;
      //     return user;
      //   });
      //   inside.userList = Response.data.data;
      // })
      // .catch((error) => {
      //   console.log(error)
      })
  },
  computed: {
    userList() {
      return this.$store.getters.USERS;
    },
  }
}
</script>

<style lang="sass">
.v-contacts__list
  max-width: 900px
  margin: 0 auto
.search-input
  width: 100%
</style>
