<template>
  <div class="window">
    <div class="title-bar">
        <div class="title-bar-text">
          User profile
        </div>

        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize" @click="toUserInfo"></button>
          <button aria-label="Close" @click="deleteUser"></button>
        </div>
      </div>

      <div class="window-body">
        <div class="window-body__info field-row">
          <img v-bind:src="user_data.picture.medium" class="rounded img-thumbnail">
        <h4>{{user_data.name.title}}
            {{user_data.name.first}}
            {{user_data.name.last}}</h4>
        </div>
        <section class="field-row" style="justify-content: flex-end">
          <button @click="toUserInfo">Edit</button>
          <button @click="deleteUser">Delete</button>
        </section>
      </div>
  </div>
</template>


<script>
import {mapGetters} from 'vuex'

export default {
  name: 'v-profile',
  methods: {
    deleteUser() {
      this.$emit('deleteUser')
    },
    toUserInfo() {
      this.$emit('toUserInfo')
    }
  },
  props: {
      user_data: {
        type: Object,
        default() {
          return {}
        }
      }
  },
  computed: {
    ...mapGetters([
      'USERS'
    ])
  }
}
</script>


<style lang="sass">
.window
  margin: 10px 25px
  @media screen and (min-width: $medium)
    min-width: 500px
.window-body__info h4
  margin-left: 20px
</style>
