<template>
  <div class="v-profile-info">
    <div class="window">
      <div class="title-bar">
          <div class="title-bar-text">
            User profile
          </div>
          <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize" ></button>
            <button aria-label="Close" ></button>
          </div>
        </div>

        <div class="window-body">
          <div class="window-body__info">
            <form @submit.prevent="saveEdit">
               <h4>{{user_info.name.title}}
                    {{user_info.name.first}}
                    {{user_info.name.last}}</h4>
              <div class="edituser-form">
                <div class="edituser-form__title">
                  <img v-bind:src="user_info.picture.large" class="rounded img-thumbnail">

                </div>
                <div class="edituser-form__info">
                  <div class="field-row">
                    <label for="age">Age</label>
                    <p id="age">{{user_info.dob.age}}</p>
                  </div>
                  <div class="field-row">
                    <label for="profession">Profession:</label>
                    <input id="profession" type="text"
                    v-model="user_info.profession" >
                  </div>
                  <div class="field-row">
                    <label for="email">E-mail:</label>
                    <a id="email" v-bind:href="'mailto:' + user_info.email">{{user_info.email}}</a>
                  </div>
                  <div class="field-row">
                    <label for="phone">Phone:</label>
                    <a id="phone" v-bind:href="'tel:' + user_info.email">{{user_info.phone}}</a>
                  </div>
                </div>
                <div class="edituser-form__addinfo">
                  <template v-for="(input, i) in inputs">
                    <div class="form-control-addinfo" :key="i">
                      <label :for="input.label">{{ input.label }}</label>
                      <input type="text" :id="input.label" >
                    </div>
                  </template>
                  <button @click.prevent="pushInput">Add info</button>
                </div>
              </div>
              <section class="field-row" style="justify-content:flex-end">
                <button type="submit">Save</button>
              </section>
            </form>
            <section class="field-row" style="justify-content:flex-end; margin-top: 10px">
            <button @click="goBack">Back</button>
            </section>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex'

export default {
  name: 'v-profile-info',
  data() {
      return {
        user_info: {},
        inputs: [
            {label: 'Info-1'}
          ]
        }
  },
  created() {
     this.users.find((user) => {
        if (user.login.uuid === this.$route.query.id) {
          this.user_info = user
        }
      })
  },
  computed: {
    ...mapState([
     'users'
     ])
  },
  methods: {
    goBack() {
      window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
    },
    saveEdit() {
      const unknownArray = this.$store.state.users.filter(n => n.profession == "unknown")
      const profUnique = unknownArray.some(
        e => e.profession === this.user_info.profession
      )
      if (profUnique) {
        alert("This profession is already taken")

      } else {
        console.log("здесь ок");
        window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
      }
    },
    pushInput() {
      this.$set(this.inputs, this.inputs.length, {
        label: 'Info-' + (this.inputs.length + 1)
      })
    }
  }
}
</script>

<style lang="sass">
.edituser-form
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  margin-bottom: 25px
  &__title
    margin-right: 25px
    align-items: flex-star
.form-control-addinfo
  margin-bottom: 5px
  text-align: right;
  input
    max-width: 150px
  & label
    margin-right: 5px
.v-profile-info
  p
    margin-top: 0
    margin-bottom: 0
  label, input, a, p
    font-size: 17px
  .field-row, [class^=field-row]+[class^=field-row]
    margin-top: 10px
</style>
