<template>
  <div id="app">
    <vHeader/>
    <router-view></router-view>
  </div>
</template>

<script>
import vHeader from './components/layouts/v-header'

export default {
  name: 'App',
  components: {
    vHeader
  }
}
</script>

<style lang="sass">
#app
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
  background: $blue
  display: flex
  flex-direction: column
  min-height: 100vh
</style>
