@import '_variables.sass'
@import 'media_queries.sass'

body
  margin: 0

button
  cursor: pointer

.fade-enter-active, .fade-leave-active
  transition: opacity .5s
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
  opacity: 0
